<div class="container">
  <div class="row">
    <% model.each do |post|%>
    <div class="<% if current_page?(users_mypage_path)==false %>col-sm-4<% else %>col-sm-6<% end %> col-md-<%= colsize %> p-0 hover-color">
      <div class="m-2">
        <%= link_to post_path(post.id), class: "text-decoration-none text-dark" do %>
        <div class="card border-0">
          <%= image_tag post.post_image, class: "card-img-top rounded-0 fit-image aspect-square"%>
          <div class="card-body p-2">
            <h4 class="card-title three_dot_omit mb-0"><%= post.title %></h4>
            <p class="card-text mb-0 three_dot_omit">投稿者：<%= post.user.name %></p>
            <div class="d-flex justify-content-between align-items-baseline">
              <div class="text-muted">
                <span><i class="fa-solid fa-puzzle-piece"></i> <%= post.post_accesses.count %></span>
                <span id="post_item_bookmark_star_<%= post.id %>">
                  <%= render 'public/posts/post_star_count', post: post %>
                </span>
              </div>
              <% unless current_user.email == 'guest@example.com'%>
              <% unless post.user == current_user %>
              <div id="bookmark_star_<%= post.id %>">
                <%= render "public/bookmarks/bookmark_star", post: post %>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>