<div class="container">
  <div class="row">
    <main class="col-md-10 offset-md-1">
      <%= form_with url: posts_path, method: :get do |f| %>
      <div class="d-flex w-75 mx-auto margin-y">
      	<%= f.text_field :search, placeholder: "投稿タイトル", class: "form-control" %>
        <%= f.submit "検索", class: "btn btn-primary ms-3" %>
      </div>
      <% end %>

      <!--投稿一覧・タイトル検索・タグ検索表示-->
      <div class="d-flex justify-content-between">
        <div>
          <% if params[:search] %>
            <div class="d-flex align-items-center">
              <h2>"<%= @search %>"での検索一覧</h2>
              <!--投稿がなかった場合-->
              <% if @posts == nil %>
                <span class="mx-2">(ヒットする投稿がありません)</span>
              <% else %>
                <span class="mx-2">(<%= @posts.count %>件ヒットしました)</span>
              <% end %>
            </div>
          <% elsif params[:tag] %>
            <div class="d-flex align-items-center">
              <!--params[:tag] == ""の場合tag.nameがエラーとなるため-->
              <% unless params[:tag] == "" %>
                <h2>"<%= @tag.name %>"タグ検索一覧</h2>
              <% else %>
                <h2>投稿一覧</h2>
              <% end %>
              <!--投稿がなかった場合-->
              <% if @posts == nil %>
                <span class="mx-2">(ヒットする投稿がありません)</span>
              <!--params[:tag] == ""の場合-->
              <% elsif params[:tag] == "" %>
                <span></span>
              <% else %>
                <span class="mx-2">(<%= @posts.count %>件ヒットしました)</span>
              <% end %>
            </div>
          <% else %>
            <h2>画像一覧</h2>
          <% end %>
        </div>
        <% if user_signed_in?%>
          <% if current_user.email != "guest@example.com" %>
            <div>
              <%= link_to '画像を投稿する', new_post_path, class: "btn btn-primary px-3 rounded-pill" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="">
        <div class="mx-2 my-3">
          <%= link_to '新着順', posts_path(tag: params[:tag], search: params[:search], order: 'new'), id: "new", class: "order btn btn-sm btn-light rounded-pill px-3 me-2 order_button_active" %>
          <%= link_to '投稿順', posts_path(tag: params[:tag], search: params[:search], order: 'old'), id: "old", class: "order btn btn-sm btn-light rounded-pill px-3 me-2" %>
          <%= link_to 'ブックマーク数', posts_path(tag: params[:tag], search: params[:search], order: 'bookmarks'), id: "bookmarks", class: "order btn btn-sm btn-light rounded-pill px-3 me-2" %>
          <%= link_to 'プレイ数', posts_path(tag: params[:tag], search: params[:search], order: 'access'), id: "access", class: "order btn btn-sm btn-light rounded-pill px-3 me-2" %>
        </div>
        <% unless @posts == nil %>
        <%= render "public/posts/post_item", model: @posts, colsize: "3" %>
        <% end %>
      </div>
      <div class="margin-y">
        <%= paginate @posts, window: 1, left: 1, right: 1 %>
      </div>
    </main>
  </div>
</div>

<script>
  $(document).ready(function() {
    if (window.location.href.indexOf("order=new") > -1) {
      $('.order_button_active').remove('order_button_active');
      $('#new').add('order_button_active');
    } else if (window.location.href.indexOf("order=old") > -1) {
      $('.order_button_active').remove('order_button_active');
      $('#old').add('order_button_active');
    } else if (window.location.href.indexOf("order=bookmarks") > -1) {
      $('.order_button_active').removeClass('order_button_active');
      $('#bookmarks').add('order_button_active');
    } else if (window.location.href.indexOf("order=access") > -1) {
      $('.order_button_active').removeClass('order_button_active');
      $('#access').add('order_button_active');
    }
  });



  // var order_button = $('a.order');
  // var order_button_active = $('.order_button_active')
  // for (i = 0; i < order_button.length; i++) {
  // order_button[i].addEventListener("click", function(e) {
  //   order_button_active.classList.toggle('order_button_active');
  //   e.classList.toggle('order_button_active');
  // });
  // }
</script>
