<div class="container">

  <!--詳細-->
  <div class='row align-items-center justify-content-center margin-y'>
    <div class='col-md-3' >
      <%= image_tag @post.post_image, class: "fit-image aspect-square w-100" %>
    </div>
      <div class='col-md-9 mt-3 mt-lg-0'>
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <h4><%= @post.title %></h4>
            <% if @post.user == current_user %>
              <% if @post.is_public == false %>
                <span class="text-muted m-0 mx-3">この投稿は現在非公開です</span>
              <% end %>
            <% end %>
          </div>
          <% unless current_user.email == 'guest@example.com'%>
          <% unless @post.user == current_user %>
          <div id="bookmark_star_<%= @post.id %>">
            <%= render "public/bookmarks/bookmark_star", post: @post %>
          </div>
          <% end %>
          <% end %>
        </div>
        <p><%= @post.content %></p>
        <p>
          <% @post_tags.each do |tag| %>
          <%= link_to posts_path(tag: tag.name), style: "text-decoration: none" do %>
            <span class="me-2">
            #<%= tag.name %>
            </span>
            <% end %>
          <% end %>
        </p>
        <p class="text-muted">
          <span><i class="fa-solid fa-puzzle-piece"></i> <%= @post.post_accesses.count %></span>
          <span class="mx-2"><i class="fa-solid fa-star"></i> <%= @post.bookmarks.count %></span>
        </p>
        <p class="text-muted"><%= @post.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></p>
        <div class="d-flex justify-content-between">
          <% if @post.user == current_user %>
          <div>
            <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success padding-x" %>
            <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger padding-x mx-md-3" %>
          </div>
          <% end %>
          <%= link_to "この画像でパズル作成", post_puzzle_path(@post.id), class: "btn btn-primary padding-x" %>
        </div>
      </div>
  </div>

  <!--コメントする-->
  <% unless current_user.email == 'guest@example.com'%>
  <div class="mx-md-5">
    <div>
    	<%= form_with model: [@post, @post_comment], local: false do |f| %>
    	<div id="comments-error">
    	  <%= render "layouts/form_errors", model: @post_comment %>
    	</div>
    	<div class="d-flex">
    	  <%= f.text_field :comment, placeholder: "コメントをする", class: "form-control me-3", id: "post_comment_form" %>
    		<%= f.submit "送信する", class: "btn btn-primary rounded-pill" %>
    	</div>
    	<% end %>
    </div>
    <div id="post_comments">
      <%= render "public/post_comments/comments", comments: @comments %>
    </div>
  </div>
  <% end %>

  <!--他の投稿-->
  <div class="d-flex justify-content-between" style="margin-left: 8px; margin-right: 8px;">
    <h4><%= @post.user.name%>の他の投稿</h4>
    <% if @user_posts.length != 0 %>
    <%= link_to "投稿一覧を見る＞", user_path(@post.user.id) %>
    <% end %>
  </div>
  <% if @user_posts.length != 0 %>
  <div class="mb-5">
    <%= render "public/posts/post_item", model: @user_posts, colsize: 2 %>
  </div>
  <% else %>
  <p class="text-center margin-sm-y">他の投稿はありません</p>
  <% end %>

</div>