<div class="container fit-content">
  <h4 class="margin-y">管理者側：投稿編集</h4>
  <%= form_with model: @tag, url: admin_tag_path do |f| %>
  <%= render "layouts/form_errors", model: @tag %>
  <div class="margin-y mx-auto">
    <div class="field">
      <div class="d-sm-flex padding-sm-y">
        <span class="label-width mb-2 mb-sm-0">投稿ID</span>
        <span class="mx-5 mx-sm-0"><%= @tag.id %></span>
      </div>
      <div class="d-sm-flex padding-sm-y">
        <%= f.label :name, "タグ名", class: "label-width mb-2 mb-sm-0"  %>
        <%= f.text_field :name, placeholder: "#{@tag.name}", class: "field-width form-control border-dark rounded-1"  %>
      </div>
      <div class="d-sm-flex padding-sm-y">
        <p class="label-width mb-2 mb-sm-0">ステータス</p>
        <div>
          <span>
            <%= f.radio_button :is_active, true, class: "form-check-input" %>
            <%= f.label :is_active_true, "正常" %>
          </span>
          <span class="margin-x">
            <%= f.radio_button :is_active, false, class: "form-check-input" %>
            <%= f.label :is_active_false, "問題あり" %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= f.submit '変更を保存する', class: "btn btn-success" %>
  </div>
  <% end %>
</div>