<div class="container margin-y w-75">
  <%= render 'admin/searches/admin_search_form' %>
</div>

<div class="container">
  <div class="margin-y">
    <h2>管理者側：コメント一覧</h2>
    <table class='table table-hover margin-y'>
      <thead>
        <tr>
          <th>#</th>
          <th>投稿ID</th>
          <th>コメント</th>
          <th>投稿者</th>
          <th class="text-center">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @post_comments.each do |comment| %>
          <tr data-href="post_comments/<%= comment.id %>" class="mouse-link">
            <td><%= comment.id %></td>
            <td><%= comment.post_id %></td>
            <td><%= comment.comment.truncate(30) %></td>
            <td><%= comment.user.name.truncate(20) %></td>
            <td class="text-center">
              <% if comment.is_active %>
                <span class="text-success"><strong>正常<strong></span>
              <% else %>
                <span class="text-danger">問題あり</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(function(){
    $('tr[data-href]').on('click', function(){
      location.href = $(this).data('href');
    });
  });
</script>