<div class="container fit-content">
    <h4 class="margin-y"><%= @user.name %>さんの会員編集画面</h4>
    <%= form_with model: @user, url: admin_user_path do |f| %>
    <%= render "layouts/form_errors", model: @user %>
    <div class="field margin-y">
      <div class="d-sm-flex padding-sm-y">
        <span class="label-width mb-2 mb-sm-0">会員ID</span>
        <span class="mx-5 mx-sm-0"><%= @user.id %></span>
      </div>

      <div class="d-sm-flex padding-sm-y">
        <%= f.label :name, "ユーザー名", class: "label-width mb-2 mb-sm-0"  %>
        <%= f.text_field :name, placeholder: "#{@user.name}", class: "field-width" %>
      </div>

      <div class="d-sm-flex padding-sm-y">
        <%= f.label :email, "メールアドレス", class: "label-width mb-2 mb-sm-0"  %>
        <%= f.text_field :email, placeholder: "#{@user.email}", class: "field-width" %>
      </div>

      <div class="d-sm-flex padding-sm-y">
        <p class="label-width mb-2 mb-sm-0">会員ステータス</p>
        <div class="d-flex">
          <div class="form-check">
            <%= f.radio_button :is_deleted, false, class: "form-check-input" %>
          　<%= f.label :is_deleted, "有効", {value: :false, class: "form-check-label"} %>
          </div>
          <div class="ml-5">
          　<%= f.radio_button :is_deleted, true, class: "form-check-input" %>
          　<%= f.label :is_deleted, "退会", {value: :true, class: "form-check-label"} %>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit '変更を保存する' ,class: "btn btn-success" %>
    </div>
    <% end %>
    </div>
  </div>
</div>