<div class="container" style="width: fit-content">

  <div class="my-5">
    <h2>ログイン</h2>
      <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="margin-y">
        <div class="field">
          <div class="d-sm-flex padding-sm-y mx-auto align-items-center">
            <%= f.label :email, "メールアドレス", class: "label-width mb-2 mb-sm-0 form-label"  %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-width form-control border-dark rounded-1"  %>
          </div>

          <div class="d-sm-flex padding-sm-y mx-auto align-items-center">
            <%= f.label :password, "パスワード", class: "label-width mb-2 mb-sm-0"  %>
            <%= f.password_field :password, autocomplete: "current-password", class: "field-width form-control border-dark rounded-1"  %>
          </div>
        </div>
      </div>
      <div class="actions text-center">
        <%= f.submit "ログイン", class: "btn btn-primary padding-x" %>
      </div>
      <% end %>
  </div>

  <div class="my-5">
    <h4>会員登録がお済でない方</h4>
    <div>
      <span><%= render "public/shared/links" %>から新規登録を行ってください。</span>
    </div>
  </div>

</div>