<div class="container fit-content">

  <div class="margin-y">
    <h2>編集</h2>
    <%= form_with model: @user, url: users_introduction_path ,method: :patch do |f| %>
      <%= render "layouts/form_errors", model: @user %>
    <div class="margin-y mx-auto">
    <div class="field">
      <div class="d-sm-flex padding-sm-y mx-auto align-items-center">
          <%= f.label :name, "ユーザー名", class: "label-width mb-2 mb-sm-0" %>
          <%= f.text_field :name, placeholder: "", class: "field-width form-control border-secondary rounded-1" %>
      </div>

      <div class="d-sm-flex padding-sm-y mx-auto align-items-baseline">
        <%= f.label :introduction, "紹介文", class: "label-width mb-2 mb-sm-0" %>
        <%= f.text_area :introduction, rows: "5", class: "field-width form-control border-secondary rounded-1" %>
      </div>
    </div>
    </div>
    <div class="actions text-center padding-sm-y">
      <%= f.submit "編集", class: "btn btn-success padding-x" %>
    </div>
    <% end %>
  </div>
</div>