<header>
  <nav class="p-0 navbar navbar-expand-lg navbar-dark" style="background: #213555">
    <div class="nav-layout container-fluid px-3">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag 'logo_long_white.png', style: "width: 230px"%>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" >
        <div class="navbar-nav">
          <% if admin_signed_in? %>
          <!--管理者側ログイン後ナビバー-->
            <% if request.fullpath.include? "/admin" %>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_users_path, class: 'nav-link px-3'  %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿一覧", admin_posts_path, class: 'nav-link px-3'  %>
            </li>
            <li class="nav-item">
              <%= link_to "タグ一覧", admin_tags_path, class: 'nav-link px-3'  %>
            </li>
            <li class="nav-item">
              <%= link_to "コメント一覧", admin_post_comments_path, class: 'nav-link px-3'  %>
            </li>
            <li class="nav-item">
              <%= link_to "ご意見箱", admin_opinion_boxes_path(range: "unread"), class: 'nav-link px-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link px-3'  %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "Home", root_path, class: 'nav-link px-3'  %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link px-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link px-3' %>
            </li>
            <% end %>
          <% elsif user_signed_in? %>
          <!--ゲストログイン後ナビバー-->
            <% if current_user.email == 'guest@example.com' %>
            <li class="nav-item">
              <%= link_to "Home", root_path, class: 'nav-link px-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "画像一覧", posts_path, class: 'nav-link px-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "タグ検索", tags_path, class: 'nav-link px-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link px-3'  %>
            </li>
            <% else %>
            <!--ユーザー側ログイン後ナビバー-->
            <li class="nav-item">
              <%= link_to "マイページ", users_mypage_path, class: 'nav-link px-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "画像一覧", posts_path, class: 'nav-link px-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規投稿", new_post_path, class: 'nav-link px-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "ブックマーク", bookmarks_path, class: 'nav-link px-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "タグ検索", tags_path, class: 'nav-link px-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link px-3'  %>
            </li>
            <% end %>
          <% else %>
          <!--ログイン前ナビバー-->
            <li class="nav-item">
              <%= link_to "Home", root_path, class: 'nav-link px-3'  %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link px-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link px-3' %>
            </li>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>