  <div class="d-sm-flex padding-sm-y">
      <%= f.label :title, "タイトル", class: "label-width mb-2 mb-sm-0"  %>
      <%= f.text_field :title, placeholder: "", class: "field-width"  %>
  </div>

  <div class="d-sm-flex padding-sm-y">
      <%= f.label :content, "キャプション", class: "label-width mb-2 mb-sm-0"  %>
      <%= f.text_area :content, placeholder: "", class: "field-width"  %>
  </div>

  <div class="d-sm-flex padding-sm-y">
      <%= f.label :tag_name, "タグ", class: "label-width mb-2 mb-sm-0"  %>
      <% if current_page?(new_post_path) %>
      <%= f.text_field :tag_name, placeholder: "例：写真　花", class: "field-width" %>
      <% else %>
      <%= f.text_field :tag_name, placeholder: "#{@tag_list}", value: @tag_list, class: "field-width" %>
      <% end %>
  </div>

  <div class="d-sm-flex padding-sm-y">
    <p class="label-width mb-2 mb-sm-0">公開範囲</p>
    <div>
      <span>
        <%= f.radio_button :is_public, true %>
        <%= f.label :is_public_true, "公開" %>
      </span>
      <span class="margin-x">
        <%= f.radio_button :is_public, false %>
        <%= f.label :is_public_false, "非公開" %>
      </span>
    </div>
  </div>

